@import "tailwindcss";

/* biome-ignore lint: lint/suspicious/noUnknownAtRules */
@utility container {
    width: 100%;
    max-width: 100%;
}

body {
    background-color: #080808;
}

.container {
    width: min(800px, calc(100% - 40px));
    margin-inline: auto;
}
